extends layout

block content
  h1 #{candidate.course.courseName}
  p #{candidate.course.courseMemo}
  p #{formattedCourseDay}
  p #{candidate.candidateTime}

  if user
    - var appointmentLabels = ['参加します', 'キャンセルします'];
    if appointment
        button(
        data-course-id=candidate.course.courseId
        data-user-id=user.id
        data-candidate-id=candidate.candidateId
        data-appointment=appointment.appointment).appointment-toggle-button #{appointmentLabels[`${appointment.appointment}`]}
    else
      form(action=`/course/${candidate.course.courseId}/${candidate.candidateId}/${user.id}/submit`, method="post")
        input(type="hidden", name="appointment" value="1")
        button(type="submit") 参加する
  else
    a(href="/login") ログイン