extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      p 現在 #{user.displayName} でログイン中
      img(src=`${user.photos[0].value}`, alt="")
      a(href="/logout") #{user.displayName} をログアウト
    else
      a(href="/login") ログイン
  div
    each candidate in candidates
      div
        h4 #{candidate.course.courseName}
        p #{candidate.course.courseMemo}
        p #{candidate.course.formattedCourseDay}
        p #{candidate.candidateTime}
        div
          img(src=`${candidate.course.courseImgFile}`, alt="")
        a(href=`/course/${candidate.course.courseId}/${candidate.candidateId}`) 確認する




