extends layout

block content
  div.main
    div.main-container
      h1 東京公園ストーリー
      p 東京公園ストーリーはFacebookで認証でき、認証が通ったユーザーのみ利用できるサービスです。
      a(href="/auth/facebook").btn
        i.fab.fa-facebook  Facebookでログイン
  div.course
    div.course-container
      each candidate in candidates
        a(href=`/course/${candidate.course.courseId}/${candidate.candidateId}`)
          div.card
            div(style=`background-image:url('${candidate.course.courseImgFile}')`).card-img
            h4.card-title #{candidate.course.courseName}
            p.card-text #{candidate.course.courseMemo}
            p.card-text 日付： #{candidate.course.formattedCourseDay}
            p.card-text 時間： #{candidate.candidateTime}
      div.clear